// bg colors
$bg-w1: #fff;
$bg-w2: #fffffff2;
$bg-w3: #ffffff26;
$bg-w4: #fcfaf68c;
$bg-w5: #fbf9f9;
$bg-ylight: #faf7f1;
$bg-aqualight: #d8f0e3;
$bg-aqua: #c0e1cf;
$bg-pink: #f3d0c7;
$bg-brown: #e1c0b0;
$bg-red: #ef2853;
$bg-red2: #ee2852;
$bg-gray: #00000026;

// borders
$b-grey: #ebebeb;
$b-pink: #f5d8ca;
$b-aqualight: #d8f0e3;
$b-aqua: #c0e1cf;
$b-brown: #e1c0b0;
